/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 96px;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__link {
  text-underline-offset: 3px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 32px;
  row-gap: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links_active {
  list-style: none;
}

.address {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  gap: 1px;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  margin-right: 50px;
}

.cover {
  width: 1100px;
  min-height: 757px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/cover.jpg);
  z-index: 0;
}

.overlay {
  inset: 0;
  width: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: -1;
}
  
.cover__title {
  font-family: "Raleway", sans-serif;
  line-height: 115px;
  color: #fff;
  padding-top: 165px;
  padding-left: 50px;
  padding-bottom: 106px;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
}
  
.aligned-text {
  display: block;
  text-transform: uppercase;
 }
  
.aligned-text_center {
  text-align: center;
  padding-right: 20px;
  padding-top: 20px;
}
  
.aligned-text_right {
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  text-transform: uppercase;
}

.cover__description-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  word-spacing: 0.9em;
}

.bet-button {
  color: #fff;
  background: transparent;
  border: 1px solid currentColor;
  width: 256px;
  height: 51px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: center;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-left: 24px;
}

.lots__card-list-item {
  display: flex;
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.card_type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
  height: 100%;
  position: relative;
  z-index: 0;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  font-style: Solid;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 4.5px;
  text-decoration-thickness: 1px;
  color: #fff;
}

.card__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.lots {
  margin-top: 180px;
}

.lots__heading {
  margin-left: 64px;
  margin-bottom: 27px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 64px;
  margin-top: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
}

.about {
  margin-top: 120px;
  margin-left: 24px;
  width: 1052px;
}

.about__column {
  display: grid;
  gap: 25px;
  grid-template-columns: 334px auto;
}

.about__logo {
  background-color: black;
  border-radius: 100%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
  margin-top: 35px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 46.96px;
  text-transform: uppercase;
  padding-top: 136px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 100px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  width: 1100px;
  margin-top: 180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px;
}

.footer__menu {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.13px;
  text-align: center;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-list-item {
  text-underline-offset: 4px;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-content: end;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}